.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/node_modules/**
**/src/**
**/public/**
**/README.md
**/.gitignore
**/package-lock.json
**/tsconfig.*.json
**/eslint.config.*